<div class="col panel vh-100 fixed-panel" id="panel-left">
    <div class="container">
        <div class="card w-100">
            <ul class="card-body">
                <div class="mb-5">
                    <b class="card-title">Popular</b>
                    <li><a href="#">Funny</a></li>
                    <li><a href="#">NSFW</a></li>
                    <li><a href="#">Girl</a></li>
                    <li><a href="#">WTF</a></li>
                    <li><a href="#">Cryptocurrency</a></li>
                    <li><a href="#">Anime & Manga</a></li>
                    <li><a href="#">Random</a></li>
                    <li><a href="#">Animals</a></li>
                    <li><a href="#">Anime Waifu</a></li>
                    <li><a href="#">Awesome</a></li>
                    <li><a href="#">Car</a></li>
                    <li><a href="#">Comic & Webt...</a></li>
                    <li><a href="#">Cosplay</a></li>
                    <li><a href="#">Gaming</a></li>
                    <li><a href="#">GIF</a></li>
                    <li><a href="#">League of Le...</a></li>
                    <li><a href="#">Meme</a></li>
                    <li><a href="#">Politics</a></li>
                    <li><a href="#">Relationship</a></li>
                    <li><a href="#">Savage</a></li>
                    <li><a href="#">Video</a></li>
                    <li><a href="#">Girl Celebrity</a></li>
                </div>
                <div class="mb-5">
                    <b class="card-title">All Sections</b>
                    <li><a href="#">Among Us</a></li>
                    <li><a href="#">Anime Wallpaper</a></li>
                    <li><a href="#">Apex Legends</a></li>
                    <li><a href="#">Ask 9GAG</a></li>
                    <li><a href="#">Coronavirus</a></li>
                    <li><a href="#">Countryballs</a></li>
                    <li><a href="#">Cozy & Comfy</a></li>
                    <li><a href="#">Crappy Design</a></li>
                    <li><a href="#">Cyberpunk 2077</a></li>
                    <li><a href="#">DIY</a></li>
                    <li><a href="#">Football</a></li>
                    <li><a href="#">Fashion & Bea...</a></li>
                    <li><a href="#">Food & Drinks</a></li>
                    <li><a href="#">Fortnite</a></li>
                    <li><a href="#">Game of Thrones</a></li>
                    <li><a href="#">Guy</a></li>
                    <li><a href="#">History</a></li>
                    <li><a href="#">Horror</a></li>
                    <li><a href="#">K-Pop</a></li>
                    <li><a href="#">Latest News</a></li>
                    <li><a href="#">LEGO</a></li>
                    <li><a href="#">Marvel & DC</a></li>
                    <li><a href="#">Movie & TV</a></li>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">NBA</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Wallpaper</a></li>
                    <li><a href="#">Overwatch</a></li>
                    <li><a href="#">PC Master Race</a></li>
                    <li><a href="#">Pokemon</a></li>
                    <li><a href="#">PUBG</a></li>
                    <li><a href="#">Resident Evil 8</a></li>
                    <li><a href="#">Satisfying</a></li>
                    <li><a href="#">Science & Tech</a></li>
                    <li><a href="#">Star Wars</a></li>
                    <li><a href="#">Teens Can Relate</a></li>
                    <li><a href="#">Travel & Photo...</a></li>
                    <li><a href="#">Warhammer</a></li>
                    <li><a href="#">Wholesome</a></li>
                    <li><a href="#">Dark Humor</a></li>
                </div>
                <div class="mb-5">
                    <b class="card-title"></b>
                </div>
            </ul>
        </div>
    </div>
</div>