<div class="col panel vh-100 fixed-panel" id="panel-left">
    <div class="container">
        <div class="card w-100">
            <ul class="card-body">
                <div class="mb-5">
                    <b class="card-title">All Sections</b>
                    <% for(let tag of tags) { %> 
                        <li><a href="/<%=tag.url%>" class="tags"><%=tag.body%></a></li>
                    <% } %> 
                </div>
                <div class="mb-5">
                    <b class="card-title"></b>
                </div>
            </ul>
        </div>
    </div>
</div>