<div class="col panel vh-100 fixed-panel" id="panel-right">
    <div class="container">
        <div class="card w-100">
            <ul class="card-body">
                <div class="mb-5">
                    <b class="card-title">Advertisement</b>
                    <li><a href="https://play.google.com/">Download our app</a></li>
                </div>
                <div class="mb-5">
                    <b class="card-title">Featured Posts</b>
                    <li><a href="#">Post #1</a></li>
                    <li><a href="#">Post #2</a></li>
                    <li><a href="#">Post #3</a></li>
                    <li><a href="#">Post #4</a></li>
                    <li><a href="#">Post #5</a></li>
                    <li><a href="#">Post #6</a></li>
                    <li><a href="#">Post #7</a></li>
                    <li><a href="#">Post #8</a></li>
                    <li><a href="#">Post #9</a></li>
                    <li><a href="#">Post #10</a></li>
                </div
            </ul>
        </div>
    </div>
</div>