<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9Gig: FOR FUN ONLY</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/404.css">
</head>

<body class="text-white bg-dark">
    <div class="cover-container p-3 mx-auto" id="background">
        <header class="mb-auto">
            <h3 class="float-md-left mb-0"><a href="/posts" class="text-decoration-none text-light">9Gig</a></h3>
            <nav class="nav nav-masthead justify-content-center float-md-left">
                <a class="nav-link text-light" href="/posts">Posts</a>
                <a class="nav-link text-light" href="/posts/new">New Posts</a>
            </nav>
        </header>
    </div>
    <div class="text-center" id="message">
        <h2 class="display-1"><b>9Gig: For Fun Only</b></h2>
        <p class="lead"> Welcome to 9Gig! <br> Jump right in and explore our memes. <br>
            Feel free to share some of your own and comment on others!</p>
        <a href="/posts" class="btn btn-lg btn-secondary font-weight-bold border-white">Jump In</a>
    </div>
</body>

</html>