<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9Gig - 404 Nothing here</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/404.css">
</head>

<body class="text-white">
    <div class="cover-container p-3 mx-auto" id="background">
        <header class="mb-auto">
            <h3 class="float-md-left mb-0"><a href="/posts" class="text-decoration-none text-light">9Gig</a></h3>
            <nav class="nav nav-masthead justify-content-center float-md-left">
                <a class="nav-link text-light" href="/posts">Posts</a>
                <a class="nav-link text-light" href="/posts/new">New Posts</a>
            </nav>
        </header>
    </div>
    <div class="text-center" id="message">
        <h1>404</h1>
        <p class="lead">There's Nothing Here</p>
        <a href="/posts" class="btn btn-warning">Go Drunk, You Are Home</a>
    </div>
</body>
</body>

</html>