*{
    padding: 0;
}
li{
    list-style-type: none;
}

.main-container{
    max-width: 1200px;
}

.fixed-panel{
    top: 60px;
}

.tags{
    font-size: 12px;
}

#posts{
    max-width: 60%;
}
#btn-login-google{
    background-color: #dd4b39;
}
#btn-login-fb{
    background-color: #3b5998;
}

.panel{
    overflow: hidden;
    overflow-y: scroll;
    position: sticky;
}

@media (max-width: 1080px) {
    #panel-left{
        display: none;
    }
    #panel-right{
        max-width: 35%;
    }
}

@media (max-width: 800px) {
    #posts{
        max-width: 100%;
    }
    .fixed-panel{
        display: none;
    }
}