<% layout('layout/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>
                    <form action="/login" method="POST" class="form-validation" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Username can't be blank
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Password can't be blank
                            </div>
                        </div>
                        <button class="btn btn-success btn-block">Login</button>
                    </form>
                    <p class="text-center mt-3">Don't have an account? <a href="/register" class="text-decoration-none">Create an Account</a></p>
                </div>
            </div>
        </div>
    </div>
</div>