<% layout('layout/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Post</h1>
    <div class="col-6 offset-3">
        <form action="/posts" method="POST" novalidate class="form-validation" id="create-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title"><b>Title</b></label>
                <input class="form-control" type="text" id="title" name="post[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Gotta add some title
                </div>
            </div>

            <div class="mb-3">
                <input type="file" name="image" id="image" multiple required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Input some memes
                </div>
            </div>

            <div class="mb-3">
                <div class="tag">
                    <b><div class="card-title">Add Tags For Your Post</div></b>
                    <% for(let tag of tags) { %> 
                        <input type="checkbox" name="post[tags]" id="<%=tag._id%>" value="<%=tag._id%>" class="btn btn-outline-dark btn-sm mb-1 tags tag-form" autocomplete="off">
                        <label class="btn btn-sm mb-1 tags btn-outline-dark" for="<%=tag._id%>" ><%=tag.body%></label>
                    <% } %>
                </div>
                <div class="tag-invalid-feedback" id="empty-tag">
                    Must choose at least 1 tag
                </div>
                <div class="tag-invalid-feedback" id="max-tag">
                    You have reach maximum tag
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Create Post</button>
            </div>
        </form>
    </div>
</div>