<% layout('layout/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Post</h1>
    <div class="col-6 offset-3">
        <form action="/posts" method="POST" novalidate class="form-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="post[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Gotta add some title
                </div>
            </div>

            <div class="mb-3">
                <input type="file" name="image" id="image" multiple required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Input some memes
                </div>
            </div>

            <div class="mb-3">
                <div class="tag">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-id="">Funny</button>
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Create Post</button>
            </div>
        </form>
    </div>
</div>